{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | FESTA 61{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">FESTA 61 - Festival Santista de Teatro</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
