{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Inscrição</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% crispy form %}

{% endblock content %}