{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Inscrição</h2>

<h4>As incrições estão encerradas!</h4>
<p>
	Para maiores informações acesse o 
    <a target="_blank" href="https://movimentoteatraldabaixadasantista.blogspot.com/2019/05/de-chamamento-para-participacao-de.html">
		edital de chamamento.
	</a>
</p>

{% endblock content %}

{% block nav_back %}{% endblock nav_back %}
