{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Inscrições: Mostra Regional{% endblock %}

{% block content %}
    
    <br><h2>Inscrições: Mostra Regional</h2><br>

    {% for i in inscriptions %}

    <div class="row" class="espetaculo-item">
        <div class="col-md-12">
            <a href="{{ i.get_absolute_url }}"><h4>{{ i.grupo }} - {{ i.espetaculo }}</h4></a>
        </div>
        <div class="col-md-8">
            <p>
                <b>Sinopse:</b><br>
                {{ i.sinopse }}
            </p>
        </div>
        <div class="col-md-4">
            <br>
            <img src="{{ i.inscriptionimages_set.first.image_opt.url }}" width="100%">
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    {% endfor %}

{% endblock %}
