{% extends "base.html" %}

{% block title %}Inscrições: Mostra Regional{% endblock %}

{% block content %}
    <br>
    <h2>{{ i.espetaculo }} <br> ({{ i.grupo }})</h2>
    <br><br>
    <div id="div_id_release" class="form-group">
        <label for="id_release" class="control-label  requiredField">
        Release </label> 
        <div class="controls "> <textarea name="release" readonly="true" cols="40" id="id_release" rows="10" class="textarea form-control">{{ i.release }}</textarea> </div>
    </div>
    <div id="div_id_sinopse" class="form-group">
        <label for="id_sinopse" class="control-label  requiredField">
        Sinopse </label> 
        <div class="controls "> <textarea name="sinopse" readonly="true" cols="40" id="id_sinopse" rows="10" class="textarea form-control">{{ i.sinopse }}</textarea> </div>
    </div>
    <div id="div_id_ficha_tecnica" class="form-group">
        <label for="id_ficha_tecnica" class="control-label  requiredField">
        Ficha técnica </label> 
        <div class="controls "> <textarea name="ficha_tecnica" readonly="true" cols="40" id="id_ficha_tecnica" rows="10" class="textarea form-control">{{ i.ficha_tecnica }}</textarea> </div>
    </div>
    <div id="div_id_historico" class="form-group">
        <label for="id_historico" class="control-label  requiredField">
        Histórico da peça/ Grupo </label> 
        <div class="controls "> <textarea name="historico" readonly="true" cols="40" id="id_historico" rows="10" class="textarea form-control">{{ i.historico }}</textarea> </div>
    </div>
    <div id="div_id_pesquisa" class="form-group">
        <label for="id_pesquisa" class="control-label  requiredField">
        Proposta de pesquisa e encenação </label> 
        <div class="controls "> <textarea name="pesquisa" readonly="true" cols="40" id="id_pesquisa" rows="10" class="textarea form-control">{{ i.pesquisa }}</textarea> </div>
    </div>
    <div id="div_id_classificacao" class="form-group">
        <label for="id_classificacao" class="control-label  requiredField">
        Classificação indicativa </label> 
        <div class="controls "> <input name="classificacao" readonly="true" class="textinput textInput form-control" value="{{ i.classificacao }}" maxlength="50" id="id_classificacao" type="text"> </div>
    </div>
    <div id="div_id_duracao" class="form-group">
        <label for="id_duracao" class="control-label  requiredField">
        Duração do espetáculo </label> 
        <div class="controls "> <input name="duracao" readonly="true" class="textinput textInput form-control" value="{{ i.duracao }}" maxlength="50" id="id_duracao" type="text"> </div>
    </div>
    <div id="div_id_contato" class="form-group">
        <label for="id_contato" class="control-label  requiredField">
        Contato do grupo pra divulgação </label> 
        <div class="controls ">
            <textarea name="contato" readonly="true" cols="40" id="id_contato" rows="10" class="textarea form-control">{{ i.contato }}</textarea>
        </div>
    </div>
    <div id="div_id_rider_tecnico" class="form-group">
        <label for="id_rider_tecnico" class="control-label  requiredField">
        Rider Técnico </label> 
        <div class="controls ">
            <textarea name="rider_tecnico" readonly="true" cols="40" id="id_rider_tecnico" rows="10" class="textarea form-control">{{ i.rider_tecnico }}</textarea>
        </div>
    </div>
    <div id="div_id_links" class="form-group">
        <label for="id_links" class="control-label  requiredField">
        Links de vídeo do espetáculo </label> 
        <div class="controls ">
            <textarea name="links" readonly="true" cols="40" id="id_links" rows="10" class="textarea form-control">{{ i.links }}</textarea>
        </div>
    </div>
    <div id="div_id_tempo_des_montagem" class="form-group">
        <label for="id_tempo_des_montagem" class="control-label  requiredField">
        Tempo de montagem e desmontagem </label> 
        <div class="controls "> <input name="tempo_des_montagem" readonly="true" class="textinput textInput form-control" value="{{ i.tempo_des_montagem }}" maxlength="100" id="id_tempo_des_montagem" type="text"> </div>
    </div>
    <div id="div_id_autorizacao" class="form-group">
        <label for="id_autorizacao" class="control-label  requiredField">
        Autorização </label> 
        <div class="controls ">
            <a href="{{ i.autorizacao.url }}" target="_blank">clique aqui</a>
        </div>
    </div>
    <div id="div_id_clipping" class="form-group">
        <label for="id_clipping" class="control-label  requiredField">
        Clipping, materiais adicionais </label> 
        <div class="controls ">
            <a href="{{ i.clipping.url }}" target="_blank">clique aqui</a>
        </div>
    </div>

    <div class="form-group">
        <label for="id_clipping" class="control-label  requiredField">
        Fotos </label><br><br>

        {% for im in i.inscriptionimages_set.all %}

        <div class="col-md-4">
            <a href="{{ im.image.url }}">
                <img src="{{ im.image_opt.url }}" width="100%">
            </a>
             <br><br>
        </div>

        {% endfor %}
    </div>
{% endblock %}
