<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block title2 %}{% endblock %} | {% block title %}{% endblock %} 
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="{% static "icon.png" %}">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static "vendors/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" %}">

        {% block styles %}{% endblock styles %}

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="col-md-12">
            <div class="col-md-12" id="topo">
                <div id="topo-img"></div>
                <div id="topo-img-pagu"></div>
                <div id="topo-text">
                    <a href="/">{% block site_title %}{% endblock %}</a>
                </div>
            </div>
            <div class="col-md-12" id="content">
                {% block content %}{% endblock %}
            </div>
            {% block nav_back %}
            <div class="col-md-12" id="btn-back">
                <p>&laquo; <a href="#" onclick="goBack()">voltar</a></p>
            </div>
            {% endblock %}
        </div>

        <script src="{% static "js/vendor/modernizr-3.5.0.min.js" %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="{% static "js/plugins.js" %}"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static "vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

        {% block scripts %}{% endblock scripts %}

        <script>
            function goBack() {
                window.history.back();
            }
        </script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
