{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <h2>Inscrição - Fotos</h2>

  <p>
    Envie 3 Fotos em alta resolução – mínimo de 300 dpis. <br>
    Em caso de espetáculo inédito deverão encaminhar fotos de ensaio.
  </p>
  
  {% csrf_token %}

  <input id="chunked_upload" type="file" name="the_file">
  <p id="progress">
    <br>
  </p>
  <div id="messages"></div>

  <div class="controls">
    <input name="botton" onclick="window.location='{% url "form-success" request.session.inscription_id %}'" disabled="disabled" value="Concluir inscrição" class="btn btn-primary" id="btn-finish" type="submit">
  </div>
{% endblock content %}

{% block nav_back %}{% endblock nav_back %}

{% block scripts %}
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/jquery.ui.widget.js" %}"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="{% static "js/jquery.iframe-transport.js" %}"></script>
  <!-- The basic File Upload plugin -->
  <script src="{% static "js/jquery.fileupload.js" %}"></script>
  <!-- Calculate md5 -->
  <script src="{% static "js/spark-md5.js" %}"></script>

  <script type="text/javascript">
    var md5 = "",
        csrf = $("input[name='csrfmiddlewaretoken']")[0].value,
        form_data = [{"name": "csrfmiddlewaretoken", "value": csrf}],
        file_success = {{ request.session.count_chunk|default:0 }}

    if (file_success)
      $("#progress").text(file_success + ' de 3 fotos - 100%');

      if (file_success == 3) {
        $("#btn-finish").removeAttr('disabled');
        $("#chunked_upload").attr('disabled','disabled')
      }

    function calculate_md5(file, chunk_size) {
      var slice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
          chunks = chunks = Math.ceil(file.size / chunk_size),
          current_chunk = 0,
          spark = new SparkMD5.ArrayBuffer();
      function onload(e) {
        spark.append(e.target.result);  // append chunk
        current_chunk++;
        if (current_chunk < chunks) {
          read_next_chunk();
        } else {
          md5 = spark.end();
        }
      };
      function read_next_chunk() {
        var reader = new FileReader();
        reader.onload = onload;
        var start = current_chunk * chunk_size,
            end = Math.min(start + chunk_size, file.size);
        reader.readAsArrayBuffer(slice.call(file, start, end));
      };
      read_next_chunk();
    }
    $("#chunked_upload").fileupload({
      url: "{% url 'api_chunked_upload' %}",
      dataType: "json",
      maxChunkSize: 100000, // Chunks of 100 kB
      formData: form_data,
      add: function(e, data) { // Called before starting upload
        $("#messages").empty();
        // If this is the second file you're uploading we need to remove the
        // old upload_id and just keep the csrftoken (which is always first).
        $("#chunked_upload").attr('disabled','disabled')
        form_data.splice(1);
        calculate_md5(data.files[0], 100000);  // Again, chunks of 100 kB
        data.submit();
      },
      fail: function(e, data) { // Called before starting upload
        $("#chunked_upload").removeAttr('disabled');
        alert('Arquivo inválido! Selecione uma imagem em alta resolução!');
      },
      chunkdone: function (e, data) { // Called after uploading each chunk
        if (form_data.length < 2) {
          form_data.push(
            {"name": "upload_id", "value": data.result.upload_id}
          );
        }
        // $("#messages").append($('<p>').text(JSON.stringify(data.result)));
        var progress = parseInt(data.loaded / data.total * 100.0, 10);
        $("#progress").text((file_success+1) + ' de 3 fotos - ' + progress + "%");
      },
      done: function (e, data) { // Called when the file has completely uploaded
        $.ajax({
          type: "POST",
          url: "{% url 'api_chunked_upload_complete' %}",
          data: {
            csrfmiddlewaretoken: csrf,
            upload_id: data.result.upload_id,
            md5: md5
          },
          dataType: "json",
          success: function(data) {
            // $("#messages").append($('<p>').text(JSON.stringify(data)));
            file_success++ ;
            $("#progress").text(file_success + ' de 3 fotos - 100%');

            if (file_success == 3) {
              $("#btn-finish").removeAttr('disabled');
              $("#chunked_upload").attr('disabled','disabled')
            }
            else {
              $("#chunked_upload").removeAttr('disabled');
              alert('Arquivo enviado com sucesso!\nPor favor, selecione o próximo.');
            }
          }
        });
      },
    });
  </script>
{% endblock scripts %}